기능:
    F1. 네비게이션 바
        F1-1. 메인 페이지로 돌아간다.
        F1-2. 자기 소개 페이지로 간다.
        F1-3. 블로그 페이지로 간다.
        F1-4. 후원하기 페이지로 간다.
    F2. 메인 페이지
        F2-1. 메인 배너를 본다.
        F2-2. 자기 소개 배너를 본다.
        F2-3. 자기 소개 배너를 클릭해 자기 소개 페이지로 간다.
        F2-4. 자기 소개 배너 위에 커서를 올려 동적인 이미지를 본다.
        F2-5. 블로그 배너를 본다.
        F2-6. 블로그 배너를 클릭해 블로그 페이지로 간다.
    F3. 자기 소개 페이지
        F3-1. 나의 사진을 본다.
        F3-2. 자기 소개 글을 본다.
        F3-3. 이력을 본다.
        F3-4. 연락처를 본다.
        F3-5. 이메일 주소를 본다.
        F3-6. 대표 음악을 듣는다.
    F4. 블로그 페이지
        F4-1. 블로그 리스트를 본다.
        F4-2. 대표 사진을 본다.
        F4-3. 제목을 본다.
        F4-4. 미리 보기 텍스트를 본다.
        F4-5. 목록을 본다.
        F4-6. 페이징을 본다.
        F4-7. 게시자는 글 작성 버튼을 누른다.
        F4-8. 게시자는 제목을 적는다.
        F4-9. 게시자는 내용을 적는다.
        F4-10. 게시자는 내용 중간에 사진을 삽입한다.
        F4-11. 게시자는 첨부 파일을 등록한다.
        F4-12. 게시자는 글을 등록한다.
    F5. 후원하기 페이지
        F5-1. 후원 계좌를 본다.
        F5-2. 후원 유도 메세지를 본다.
    F6. 푸터
        F6-1. 나의 연락처를 본다.
        F6-2. 나의 주소를 본다.
        F6-3. 이용약관을 본다.
        F6-4. 깃허브 링크를 클릭한다.
        F6-5. 맨 위로 이동하는 버튼을 클릭한다.

